<div class = "admin">
  <p id="notice"><%= notice %></p>
  <div class = "show_employee">
	<h3>
	  <%= @employee.name %>
	</h3>

	<p class = "bold ital">
	  <%= @employee.intro %>
	</p>
	
	<%= simple_format( @employee.content) %>

    <% unless @employee.contact.empty? %>
	  <p class = "ital">
	    <span class = "bold">e:</span>
	    <%= @employee.contact %>
	  </p>
	<% end %>
    <% unless @employee.quote.empty? %>
	  <p id = "employee_quote">
	    "<%= @employee.quote %>"
	  </p>
	<% end %>
	<% if @employee.smallPic.exists? then %>
		<%= image_tag @employee.smallPic.url(:small), :class => "show_employee_pic" %>
	<% end %>

    <p>
      	<%= link_to 'Edit', edit_employee_path(@employee) %> |
		<%= link_to 'Back', employees_path %>
		
    </p>
  </div>
</div>
